
/*---h's -- */

h3, a, p {
    color: black;  
}

h2 {
    font-size: 22px !important;
}



/*--formatações gerais --*/


.fundo{
    background-color: rgba(250, 211, 175, 0.4);
}

footer {
    border-top: 1px solid pink;
}

.navbar-light .navbar-toggler {
    color: pink!important;
    border-color: pink !important;
}

nav {
    border: 1px solid pink;
    border-left: none;
    border-right: none;
}

/*div{
    font-family: Verdana, sans-serif;
 }*/

 div{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
 }


/*.w-100 {
    height: 650px;
}*/

.titulo {
    color: pink !important;
}

a#logo {
    color: pink !important;
}



/*-- elementos --*/
 .bg-card {
    background-color: rgba(250, 211, 175, 0.4) !important;
    border: none !important;
}


.btn-danger{
    background-color: rgba(250, 211, 175, 0.4) !important;
    color: black !important;
    border: none !important;
}

.btn-success{
    background-color: rgba(250, 211, 175, 0.4) !important;
    color: black !important;
    border: none !important;
}



/* -- rodapé --*/
.icone-rosa {
    color: pink;
}


div#direitos {
    border-top: 1px solid pink;
}








