.navbar-light .navbar-toggler {
    color: rgba(255, 32, 255, 0.5) !important;
    border-color: rgba(255, 32, 255, 0.5) !important;
}


a#logo {
    color: rgba(255, 32, 255, 0.5) !important;
}
.w-100 {
    height: 600px;
}


.fundo{
    background-color: rgba(250, 211, 175, 0.3);
}

div{
   font-family: Verdana, sans-serif;
}

.bg-light{
    background-image: url("https://img.freepik.com/vetores-premium/padrao-sem-costura-com-confeitaria-sobremesa-e-bolo-waffle-doce-e-croissant-linear-hand-doodle_248911-960.jpg?w=2000");
}

div#paralax{
    background-image: url("https://img.freepik.com/vetores-premium/doodle-de-item-alimentar-desenhado-a-mao-sem-costura-padrao-cupcake-de-cana-doce-macaroon-sorvete-torta-cozinha_660095-211.jpg");
    width: 100%;
    height: 300px;
}

/*h3, h2{
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
}*/

.titulo {
    color: rgba(255, 32, 255, 0.5) !important;
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}

.bg-card {
    background-color: rgba(0, 177, 254, 0.1) !important;
    border-color: rgba(0, 177, 254, 0.5) !important;
    border-width: 1px !important;
}


.imagem4{
    transition: all 0.5s;
    cursor: pointer;
}

.imagem4:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

.btn-danger{
    background-color: rgba(0, 177, 254, 0.1) !important;
    border-color: rgba(0, 177, 254, 0.5) !important;
    color: black !important;
    border-width: 1px !important;
}

.btn-success{
    background-color: rgba(0, 177, 254, 0.1) !important;
    border-color: rgba(0, 177, 254, 0.5) !important;
    color: black !important;
    border-width: 1px !important;
}

footer {
    border-top: 2px solid pink;
}

nav {
    border: 2px solid pink;
    border-left: none;
    border-right: none;
}

.icone-rosa {
    color: rgba(204, 90, 242, 0.988);
}


h3, a, p {
    color: black;  
}

div#direitos {
    border-top: 2px solid pink;
}



/* Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .navbar-toggler, .navbar-toggler-icon {
        font-size: 32px !important;
    } 

    p, div#contato1, div#contato2, a {
        font-size: 32px;
    }

    header#menu {
        font-size: 32px;
    }

    header#menu a {
        font-size: 32px;
    }

}

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
	.navbar-toggler, .navbar-toggler-icon {
        font-size: 32px !important;
    } 

    p, div#contato1, div#contato2, a {
        font-size: 32px;
    }

    header#menu {
        font-size: 32px;
    }

    header#menu a {
        font-size: 32px;
    }
}

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
	

    h2 {
        font-size: 22px !important;
    }

    .navbar-toggler, .navbar-toggler-icon {
        font-size: 32px !important;
    } 

    p, div#contato1, div#contato2, a {
        font-size: 32px;
    }

    header#menu {
        font-size: 32px;
    }

    header#menu a {
        font-size: 32px;
    }

}

/* Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
	.navbar-toggler, .navbar-toggler-icon {
        font-size: 40px !important;
    }
    
    .btn-danger, .btn-success {
        font-size: 100% !important;
    }

    p, div#contato1, div#contato2, a {
        font-size: 15px;
    }

    h2 {
        font-size: 24px !important;
    }
}

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
	.navbar-toggler, .navbar-toggler-icon {
        font-size: 50px !important;
    }

    .btn-danger, .btn-success {
        font-size: 18px !important;
    }

    p, div#contato1, div#contato2, a {
        font-size: 15px;
    }

    h2 {
        font-size: 26px !important;
    }

 }

 */







